*{
  box-sizing: border-box;
}
html{
scroll-behaviour:smooth;
}
body{
  color: white;
  background-color: darkcyan;
}
#loader {
  position:relative;
  left: 30%;
  top: 300px;
  width: 10em;
    height: 5em;
    font-size: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.bar{
  margin: 0.2em;
  width: 0.75em;
  height: 2.5em;

  border-left: 0.1em solid green;
  background-color: coral;

  animation: 1.5s infinite example-two;
}

#bar-2{animation-delay: 0.25s}
#bar-3{animation-delay: 0.5s}

@keyframes example-two{
  0% {height: 2.5em}
  25% {height: 5em}
  50% {height: 2.5em}
  100% {height: 2.5em}
}
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}
#myBtn{
display:none;
position:fixed;
bottom: 20px;
right: 30px;
z-index:99;
font-size: 18px;
border:none;
outline:none;
background-color:rgb(167, 166, 168);
color:black;
cursor:pointer;
padding:15px;
border-radius: 4px;
}
#myBtn:hover {
  background:coral;
}
.intro{
  margin: 300px  auto;
  text-align: center; 
}
.intro h1{
  overflow:hidden;
  border-right:.15em solid transparent;
  white-space:  nowrap;
  font-size:25px;
  text-shadow: 0 3px 0px grey,
  0px 4px 0px grey,
  0px 5px 0px grey,
  0px 6px 0px grey,
  0px 7px 0px grey,
  0px 7px 0px grey,
  0px 8px 0px grey,
  0px 9px 0px grey,
  0px 10px 0px grey;
  margin:auto; 
   animation: typing 3.5s steps(40,end), blink-caret 5s;
}

@keyframes typing{
from{
  width: 0}
  to{
    width:100%;
  }
}
@keyframes blink-caret{
  from,to{
    border-color: transparent;
  }
  50%{
    border-color:coral;
  }
}
.bubbles{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top:800px;
  z-index:-1;
}
.bub{
  margin: 0.2em;
  width:40px;
  height:40px;
  margin: 20px;
  border-radius: 20px;
  background-color: coral;
  animation:bubble 7s linear infinite;
}

@keyframes bubble{
  0%{
    transform: translateY(0);
    opacity:0;
  }
  50%{
    opacity: 1;
  }
  70%{
    opacity: 1;
  }
  100%{
    transform: translateY(-130vh);
    opacity: 0;
  }
} 
.bub:nth-child(1){
  animation-delay:2s;
}
.bub:nth-child(2){
  animation-delay:1s;

}
.bub:nth-child(3){
  animation-delay:3s;
  
}
.bub:nth-child(4){
  animation-delay:4s;
}
.bub:nth-child(5){
  animation-delay:5s;

}
.bub:nth-child(6){
  animation-delay:2s;

}
.bub:nth-child(7){
  animation-delay:3s;

}
.aboutme{
  padding:40px  10px;
  font-size: 20px;
  position: relative;
  z-index: 1;
  background-color:darkcyan;
}
.aboutme h1{
  text-align: center;
  border-bottom: 3px solid green;
}
.open{
  display: flex;
  padding:10px;
  justify-content: flex-end;
}
.fa-sun{
font-size: 20px;
  cursor:pointer;
}
.fa-envelope{
  color:white;
}
.darkmode{
  background:rgb(69, 68, 68);
}
.twoprojects{
  text-align: center;
  padding:20px;
}
.projects h1{
  text-align: center;
  border-bottom: 3px solid green;
}
.twoprojects img{
  max-width: 100%;
}
.twoprojects a {
 text-decoration: none;
 color:white;
 font-size: 25px;
}
.grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 10px;
  padding: 10px;
}
.grid-container h1{
  border:none;
  font-size: 20px;
  color: black;
}
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  text-align: center;
  font-size: 30px;
  margin:20px auto;
  box-shadow: 0 0 5px 5px grey;
  border-radius: 10px;
}
.grid-container > div img{
  width: 100%;
}
.imgtxt{
  display: flex;
  justify-content: space-between;
  margin:auto;
}
.imgtxt a{
  text-decoration: none;
  color: black;
  font-size: 15px;
  padding: 20px;
}
.projects p a{
  text-decoration: none;
  color:white;
  border-bottom: 3px solid black;
}
.contactinfo{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.fa-linkedin{
  color:white;
}

@media screen and (max-width: 800px){
  nav{
    display: none;
  }
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(56, 55, 55, 0.466);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
    position: relative;
    right: 20px;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .bub{
    width: 25px;
    height: 50px;
  }
}
@media screen and (min-width: 768px) and (max-width:800px){
  #loader{
    left: 40%;
  }
  .bub{
    width: 25px;
    height: 50px;
  }
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media screen and (min-width: 801px){
 #loader{
   left: 40%;
   top: 500px;
 }
  .sidenav{
    display: none;
  }
  .open{
    display: none;
  }
  nav{
display: flex;
justify-content:flex-end;
  }
  nav ul{
    display: flex;
    list-style: none;
  }
  nav li{
    padding: 0 20px;
    font-size: 20px;
    font-weight: bold;
  }
  nav li:hover{
    border-bottom: 3px solid green;
  }
  nav a{
    text-decoration: none;
    color: white;
  }
  .bub{
    width: 25px;
    height: 50px;
  }
}
@media screen and (min-width: 1020px){
  .sidenav{
    display: none;
  }
  .open{
    display: none;
  }
  .intro h1{
    font-size:30px;
  }
  nav{
display: flex;
justify-content:flex-end;
  }
  nav ul{
    display: flex;
    list-style: none;
  }
  nav li{
    padding: 0 20px;
    font-size: 20px;
    font-weight: bold;
  }
  nav li:hover{
    border-bottom: 3px solid green;
  }
  nav a{
    text-decoration: none;
    color: white;
  }
  .aboutme{
    text-align: center;
    padding: 100px 0;
  }
  .grid-container{
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    margin:auto;
  }
  #loader{
    left: 40%;
  }
  .introbackground::after{
    height: 45%;
  }
  .bub{
    width: 25px;
    height: 50px;
  }
  .img{
    padding: 10px;
    height: 50%;
  }
    .grid-container2{
    grid-template-columns: auto auto auto;
  }
}
@media screen and (min-width: 1440px){
  .grid-container{
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
    margin: 10px;
  }
    .grid-container2{
    grid-template-columns: auto auto auto auto;
  }
  .projects p {
    font-size: 20px;
    padding: 10px;
  }
  #loader{
    left: 45%;
  }
  .intro h1{
    font-size: 45px;
  }
  .bub{
    width: 25px;
    height: 50px;
  }
  .intro h1{
    animation: typing 8s steps(40,end), blink-caret 3.5s;
  }
}
.icon{
  position: absolute;
  top:20px;
  left:10px;
}
